<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/goal_create.main.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/flatpickr.min.css}">
    <link rel="stylesheet" th:href="@{/css/material_orange.min.css}">
    <title>GoalTracker</title>
</head>
<body>

<header>
    <h1>GoalTracker</h1>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Goals</a></li>
            <li><a href="#">Profile</a></li>
        </ul>
    </nav>
</header>

<main>
    <section class="new-goal-form">
        <h2>Create a New Goal</h2>
        <form action="/goal-tracker/goals" method="post">
            <label for="goal-name">Goal Name:</label>
            <input type="text" id="goal-name" name="name" required>
            <label for="goal-description">Description:</label>
            <textarea id="goal-description" name="description" rows="4" required></textarea>
            <label for="due-date">Due Date:</label>
            <input type="date" id="due-date" name="dueDate" required>
            <label for="checklistItems">Checklist:</label>
            <div class="checklist-container">
                <div id="checklistItems">
                    <div class="checklist-item">
                        <input type="text" class="item-input" name="checklists" placeholder="내용을 작성하세요.">
                        <button type="button" class="remove-button" onclick="removeItem(this)">삭제</button>
                    </div>
                </div>
                <button type="button" class="add-button" id="addButton" onclick="addItem()">체크리스트 추가</button>
            </div>
            <button type="submit">Create Goal</button>
        </form>
    </section>
</main>

<footer>
    <p>&copy; 2023 GoalTracker. All rights reserved.</p>
</footer>

<script th:src="@{/js/flatpickr.js}"></script>
<script th:src="@{/js/createGoalForm.js}">
</script>
</body>
</html>
