<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GoalTracker - Edit Profile</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" />
  <link th:href="@{/css/tagify.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/css/profile.edit.css}" rel="stylesheet">
  <script th:src="@{/js/tagify.js}"></script>
  <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
<header>
  <h1>GoalTracker</h1>
  <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="#">Goals</a></li>
      <li><a href="#">Profile</a></li>
    </ul>
  </nav>
</header>

<main>
  <section class="profile-form-container">
    <form id="profile-form" class="profile-form" action="/goal-tracker/profiles/me" method="post">
      <div class="form-group">
          <img src="https://blog.kakaocdn.net/dn/bOjQ1n/btrLqc2YHQB/913MZQGPgTXhngMbWnicJK/img.jpg" alt="User Profile"/>
      </div>
      <div class="form-group">
        <label for="nickname">닉네임</label>
        <input
                type="text"
                id="nickname"
                name="nickname"
                th:value="${userProfile.nickname} != null ? ${userProfile.nickname} : ''"
        />
      </div>
      <div class="form-group">
        <label for="email">이메일</label>
        <input
                type="email"
                id="email"
                name="email"
                th:value="${userProfile.email}"
                readonly
        />
      </div>
      <div class="form-group">
        <label for="self-introduction">자기소개</label>
        <textarea
                id="self-introduction"
                name="introduction"
                rows="4"
                th:text="${userProfile.introduction} != null ? ${userProfile.introduction} : ''"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="interests">관심 태그</label>
        <input id="interests" placeholder=""
               th:value="${userProfile.interests} != null ? ${userProfile.interests} : ''"
        />
      </div>
      <div class="form-actions">
        <button id="save-button" type="submit">저장하기</button>
      </div>
    </form>
  </section>
</main>

<footer class="footer">
  <p>&copy; 2023 GoalTracker. All rights reserved.</p>
</footer>
<script th:src="@{/js/profileEdit.js}"></script>
</body>
</html>
