<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script th:src="@{/js/fontawesome.js}"></script>
  <link  th:href="@{/css/style.css}" rel="stylesheet">
  <link  th:href="@{/css/auth.main.css}" rel="stylesheet">
  <title>Signup - GoalTracker</title>
</head>
<body>
<header>
  <h1>GoalTracker</h1>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Goals</a></li>
      <li><a href="#">Profile</a></li>
    </ul>
  </nav>
</header>

<main class="auth-container">
  <div class="sign-up-wrapper">
    <div class="wave-container">
      <div class="wave"></div>
    </div>
    <div class="auth-form">
      <h2>Sign Up</h2>
      <br>
      <form th:object="${userSignUpDTO}" action="/goal-tracker/auth/sign-up" method="post">
        <label for="username">Username</label>
        <div>
          <input  type="text" id="username" name="username+" th:value="${userSignUpDTO.username}"
               th:class="${#fields.hasErrors('username') ? 'error-input' : 'user-input'}" required>
          <i class="fa-regular fa-circle-check" style="color: #e76565;"></i>
          <button class="check-username" onclick="checkUsername()">중복체크</button>
        </div>
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error-message"></span>

        <label for="email">Email</label>
        <input type="email" id="email" name="email"
               th:value="${userSignUpDTO.email}"
               th:class="${#fields.hasErrors('email') ? 'error-input' : 'user-input'}" required>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-message"></span>

        <label for="password">Password</label>
        <input type="password" id="password" name="password"
               th:class="${#fields.hasErrors('password') ? 'error-input' : 'user-input'}" required>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message"></span>
        <button type="submit">회원가입</button>
      </form>
      <p>이미 계정이 있으신가요? <a th:href="@{/goal-tracker/auth/sign-in}">로그인</a></p>
    </div>

  </div>

</main>
<script>
  function checkUsername() {
    const username = document.getElementById('username').getAttribute('value');
  }
</script>
<footer>
  <p>&copy; 2023 GoalTracker. All rights reserved.</p>
</footer>
</body>
</html>
