<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link  th:href="@{/css/style.css}" rel="stylesheet">
  <title>Signup - GoalTracker</title>
</head>
<body>
<header>
  <h1>GoalTracker</h1>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Goals</a></li>
      <li><a href="#">Profile</a></li>
    </ul>
  </nav>
</header>
<main style="display: flex">
  <img style="margin:auto auto;padding:8rem" th:src="@{/svg/error404.svg}">
</main>
<footer>
  <p>&copy; 2023 GoalTracker. All rights reserved.</p>
</footer>
</body>
</html>
