body, h1, h2, h3, p, ul, li, label, input, textarea, button {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #E76161;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

main {
    padding: 2rem;
    flex-grow: 1;
}

footer {
    margin-bottom: 0;
    margin-top: auto;
    text-align: center;
    padding: 1rem;
    background-color: #E76161;
    color: white;
}

button {
    background-color: #E76161;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #D64040;
}

/* 체크박스 스타일 */
.checklist {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 15.5px;
    font-weight:bolder;
    color:#332C39;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; user-select: none;
}

/* 기본 체크박스 숨기기 */
.checklist input[type="checkbox"] {
    display: none;
}

/* 선택되지 않은 체크박스 스타일 꾸미기 */
.on {
    width: 20px;
    height: 20px;
    background: #ddd;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
}

/* 선택된 체크박스 스타일 꾸미기 */
.checklist input[type="checkbox"]:checked + .on {
    background: #f86480;
}

.on:after {
    content: "";
    position: absolute;
    display: none;
}

.checklist input[type="checkbox"]:checked + .on:after {
    display: block;
}

.on:after {
    width: 6px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 6px; top: 2px;
}